.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-trigger {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #f1f1f1;
    border-radius: 4px;
    user-select: none;
}

.dropdown-trigger:hover {
    background-color: #e1e1e1;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 0;
    margin: 5px 0 0 0;
    border-radius: 4px;
    list-style: none;
}

.dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    color: #333;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}