.tooltip-wrapper {
    display: inline-block;
    position: relative;
}

.tooltip-tip {
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 10px;
    color: #fff;
    background: #333;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
}

/* Directions */
.tooltip-tip.top {
    top: calc(100% * -1 - 10px);
}

.tooltip-tip.top::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 6px;
    margin-left: -6px;
    top: 100%;
    border-top-color: #333;
}

.tooltip-tip.bottom {
    top: calc(100% + 10px);
}

.tooltip-tip.bottom::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 6px;
    margin-left: -6px;
    bottom: 100%;
    border-bottom-color: #333;
}

.tooltip-tip.left {
    left: auto;
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-tip.left::before {
    content: " ";
    left: 100%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 6px;
    top: 50%;
    margin-top: -6px;
    border-left-color: #333;
}

.tooltip-tip.right {
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-tip.right::before {
    content: " ";
    right: 100%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 6px;
    top: 50%;
    margin-top: -6px;
    border-right-color: #333;
}