@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .filter-btn {
        @apply px-4 py-2 text-sm font-medium text-gray-500 hover:text-blue-600 transition-colors;
    }

    .filter-btn.active {
        @apply text-blue-600 font-bold border-b-2 border-blue-600;
    }
}